name: Deploy Airflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. 리포지토리 checkout
      - name: Checkout Repository
        uses: actions/checkout@v3

      # 2. SSH 키 세팅
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        
      - name: add SSH key to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      # 3. 원격 서버에 접속 후 git clone 및 환경변수 세팅
      - name: Deploy to Server
        run: |
          SERVER_USER="${{ secrets.SSH_USER }}"
          SERVER_HOST="${{ secrets.SSH_HOST }}"
          SERVER_PORT="${{ secrets.SSH_PORT }}"
          REPO_URL="https://github.com/hyeseungmoon/ChzzkAggregate.git"
          TARGET_DIR="/home/$SERVER_USER/PycharmProjects/ChzzkAggregate"

          ssh -p $SERVER_PORT $SERVER_USER@$SERVER_HOST bash -c "'
            echo \"Deploying to $SERVER_HOST...\"

            # 기존 프로젝트 삭제 후 clone
            rm -rf $TARGET_DIR
            git clone $REPO_URL $TARGET_DIR
            cd $TARGET_DIR

            # .env 파일 생성 및 GitHub Secrets에서 가져온 값 입력
            echo \"AIRFLOW_CONN_CHZZK_API_CONN=${{ secrets.AIRFLOW_CONN_CHZZK_API_CONN }}\" > .env
            echo \"AIRFLOW_CONN_MONGODB_CONN=${{ secrets.AIRFLOW_CONN_MONGODB_CONN }}\" >> .env
            echo \"AIRFLOW_CONN_S3_CONN=${{ secrets.AIRFLOW_CONN_S3_CONN }}\" >> .env

            # bash 스크립트 실행
            chmod +x setup_airflow.bash
            bash setup_airflow.bash

            echo \"Deployment finished.\"
          '"
